@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* VARIABLES */
/* Colors */
/* Font Sizes */
/* Spacings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.parent {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.children {
  width: 120rem;
  margin: 0 auto;
  grid-column: 2/3;
}

.pill-light {
  font-family: "Poppins", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  text-decoration: none;
  border: solid 2px #ffffff;
  padding: 0.8rem 2.4rem;
  border-radius: 35px;
  background-color: #ffffff;
  color: #1E71FF;
  transition: box-shadow 0.3s ease-in;
}

.pill-light:hover {
  transition: box-shadow 0.3s ease;
  -webkit-box-shadow: 2px 3px 14px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 3px 14px -4px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 3px 14px -4px rgba(0, 0, 0, 0.5);
}

.pill-light-outline {
  font-family: "Poppins", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  text-decoration: none;
  border: solid 2px #ffffff;
  border-radius: 35px;
  background-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  transition: box-shadow 0.3s ease-in;
}

.pill-light-outline:hover {
  transition: box-shadow 0.3s ease;
  -webkit-box-shadow: 2px 3px 14px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 3px 14px -4px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 3px 14px -4px rgba(0, 0, 0, 0.5);
}

.pill-primary {
  font-family: "Poppins", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  text-decoration: none;
  border: solid 2px #1E71FF;
  padding: 0.8rem 3.2rem;
  border-radius: 35px;
  background-color: #1E71FF;
  color: #ffffff;
  transition: box-shadow 0.3s ease-in;
}

.pill-primary:hover {
  transition: box-shadow 0.3s ease;
  -webkit-box-shadow: 2px 3px 14px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 2px 3px 14px -4px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 3px 14px -4px rgba(0, 0, 0, 0.5);
}

/* HEADER Y NAVBAR */
.header {
  padding: 3.2rem 0;
  background-color: #1E71FF;
}
.header_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.header .brand {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}
.header .brand_link .brand_logo {
  max-width: 25rem;
}
.header .navbar_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  gap: 3.2rem;
  list-style: none;
}
.header .navbar_list .list_item .item_link {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  border: double 2px rgba(255, 255, 255, 0);
  padding: 0.8rem 2.4rem;
  border-radius: 35px;
  position: relative;
  transition: all 0.4s ease-in;
}
.header .navbar_list .list_item .item_link-getStart {
  font-family: "Roboto", sans-serif;
}
.header .navbar_list .list_item .item_link #line {
  position: absolute;
  height: 2px;
  width: 25%;
  top: 40px;
  border-radius: 5px;
  transition: all 0.4s ease-in;
}
.header .navbar_list .list_item .item_link:hover #line {
  transition: all 0.3s ease;
  background: #F4B02C;
}

.footer {
  padding: 6.4rem 0;
  background-color: #1E71FF;
  row-gap: 6.4rem;
}
.footer_header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}
.footer_header-icon {
  max-width: 25rem;
}
.footer_header-subtitle {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 2.4em;
  text-align: center;
  color: #ffffff;
}
.footer_copyrigth-text {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  text-align: center;
  color: #ffffff;
}

.welcome {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  gap: 0;
  padding: 6.4rem 0;
  background-color: #1E71FF;
}
.welcome .welcome_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.welcome .welcome_container .welcome_section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: space-between;
  gap: 6.4rem;
  max-width: 47rem;
}
.welcome .welcome_container .welcome_section-header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: space-between;
  gap: 1.6rem;
}
.welcome .welcome_container .welcome_section-header .header_title {
  font-family: "Poppins", sans-serif;
  font-size: 8.8em;
  font-weight: 500;
  color: #ffffff;
}
.welcome .welcome_container .welcome_section-header .header_description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.8em;
  color: #ffffff;
}
.welcome .welcome_container .welcome_section-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 3.2rem;
}
.welcome .welcome_container .welcome_section-buttons .button_getstart {
  font-size: 24px;
  font-weight: 500;
  padding: 1.6rem 3.2rem;
}
.welcome .welcome_container .welcome_section-buttons .button_learnmore {
  font-size: 24px;
  font-weight: 500;
  padding: 1.6rem 3.2rem;
}
.welcome .welcome_container .welcome_banner .banner_image {
  max-width: 62rem;
}

.features {
  padding: 6.4rem 0;
  background-color: #ffffff;
}
.features_container {
  place-items: center;
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 3.2rem;
}
.features .features_section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 6.4rem;
  max-width: 62rem;
}
.features .features_section-title {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 3.2em;
  font-weight: 500;
  color: #3B454D;
}
.features .features_section-description {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  color: #3B454D;
}
.features_image {
  max-width: 96rem;
}

.solutions {
  padding: 6.4rem 0;
  background-color: #E9F1FF;
}
.solutions_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}
.solutions_clients .clients_image {
  max-height: 52rem;
  max-width: 62rem;
}
.solutions .solutions_section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: space-between;
  gap: 3.2rem;
  max-width: 54rem;
}
.solutions .solutions_section-header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: space-between;
  gap: 3.2rem;
}
.solutions .solutions_section-header .header_title {
  font-family: "Poppins", sans-serif;
  font-size: 5.2em;
  font-weight: 400;
  color: #3B454D;
}
.solutions .solutions_section-header .header_description {
  font-family: "Poppins", sans-serif;
  font-size: 2.4em;
  font-weight: 400;
  color: #3B454D;
}
.solutions .solutions_section-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 3.2rem;
}
.solutions .solutions_section-buttons .button_tryItFree {
  font-size: 2.4em;
  font-weight: 500;
  padding: 1.6rem 3.2rem;
}
.solutions .solutions_section-buttons .button_getADemo {
  font-size: 2.4em;
  font-weight: 500;
  padding: 1.6rem 3.2rem;
}
.solutions .solutions_section #space-line {
  width: 50%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.15);
}
.solutions .solutions_section-rating {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 3.2rem;
}
.solutions .solutions_section-rating .rating_stars {
  max-width: 12.8rem;
}
.solutions .solutions_section-rating .rating_fact {
  max-width: 36rem;
  font-size: 2.4em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.solutions .solutions_section-rating .rating_fact span {
  font-weight: 600;
}

/*# sourceMappingURL=index.css.map */
