.navbar-button {
    font-family: 'Poppins', sans-serif;
    font-size: $m-txt;
    font-weight: 400;
    color: $white;
    transition: all .3s;
}

.navbar-button:hover {}

.pill-light {
    font-family: 'Poppins', sans-serif;
    font-size: $m-txt;
    font-weight: 400;

    border: solid 2px $white;
    padding: $s-space $l-space;
    border-radius: 35px;
    background-color: $white;
    color: $blue;
    transition: all .3s;
}

.pill-light:hover {
    -webkit-box-shadow: 2px 3px 14px -4px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 2px 3px 14px -4px rgba(0, 0, 0, 0.50);
    box-shadow: 2px 3px 14px -4px rgba(0, 0, 0, 0.50);
}

.pill-outline-light {
    font-family: 'Poppins', sans-serif;
    font-size: $m-txt;
    font-weight: 400;

    border: solid 2px $white;
    border-radius: 35px;
    background-color: rgba(0, 0, 0, 0);
    color: $white;
    transition: all .3s;
}

.pill-outline-light:hover {
    -webkit-box-shadow: 2px 3px 14px -4px rgba(0, 0, 0, 0.50);
    -moz-box-shadow: 2px 3px 14px -4px rgba(0, 0, 0, 0.50);
    box-shadow: 2px 3px 14px -4px rgba(0, 0, 0, 0.50);
}