.footer {
    padding: $xl-space 0;
    background-color: $blue;
    row-gap: 6.4rem;

    &_header {
        @include flex(column, nowrap, center, center, $l-space);

        &-icon {
            max-width: 25rem;
        }

        &-subtitle {
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            font-size: $l-txt;
            text-align: center;
            color: $white;
        }
    }

    &_copyrigth {
        &-text {
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            font-size: $caption;
            text-align: center;
            color: $white;
        }
    }
}