/* VARIABLES */

/* Colors */
$white: #ffffff;
$grey: #F2F4F7;
$grey-var: #ebebeb;
$yellow: #F4B02C;
$blue: #1E71FF;
$darkblue: #3B454D;

/* Font Sizes */
$xxxl-txt: 4.2em;
$xxl-txt: 3.8em;
$xl-txt: 3.2em;
$l-txt: 2.4em;
$m-txt: 1.8em;
$s-txt: 1.6em;
$xs-txt: 1.4em;
$caption: 1.2em;

/* Spacings */
$extreme-space: 32rem;
$xxl-space: 12.8rem;
$xl-space: 6.4rem;
$l-space: 3.2rem;
$m-space: 1.6rem;
$s-space: 0.8rem;
$xs-space: 0.4rem;