.welcome {
    @include flex(row, wrap, space-between, start, 0);
    padding: $xl-space 0;
    background-color: $blue;

    .welcome_container {
        @include flex(row, wrap, space-between, center, 0);

        .welcome_section {
            @include flex(column, nowrap, start, space-between, $xl-space);
            max-width: 47rem;

            &-header {
                @include flex(column, nowrap, start, space-between, $m-space);

                .header_title {
                    font-family: 'Poppins', sans-serif;
                    font-size: 8.8em;
                    font-weight: 500;
                    color: $white;
                }

                .header_description {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: $m-txt;
                    color: $white;
                }
            }

            &-buttons {
                @include flex(row, wrap, start, center, $l-space);

                .button_getstart {
                    font-size: 24px;
                    font-weight: 500;
                    padding: $m-space $l-space;
                }

                .button_learnmore {
                    font-size: 24px;
                    font-weight: 500;
                    padding: $m-space $l-space;
                }
            }
        }

        .welcome_banner {
            .banner_image {
                max-width: 62rem;
            }
        }
    }
}


.features {
    padding: $xl-space 0;
    background-color: $white;

    &_container {
        place-items: center;
        display: grid;
        grid-template-rows: auto auto;
        row-gap: $l-space;
    }

    .features_section {
        @include flex(column, nowrap, center, center, $xl-space);
        max-width: 62rem;

        &-title {
            text-align: center;
            font-family: 'Poppins', sans-serif;
            font-size: $xl-txt;
            font-weight: 500;
            color: #3B454D;
        }

        &-description {
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-size: $m-txt;
            font-weight: 400;
            color: #3B454D;
        }
    }

    &_image {
        max-width: 96rem;
    }
}


.solutions {
    padding: $xl-space 0;
    background-color: $grey;

    &_container {
        @include flex(row, wrap, space-between, center, 0);
    }

    &_clients {
        .clients_image {
            max-height: 52rem;
            max-width: 62rem;
        }
    }

    .solutions_section {
        @include flex(column, nowrap, start, space-between, $l-space);
        max-width: 54rem;

        &-header {
            @include flex(column, nowrap, start, space-between, $l-space);

            .header_title {
                font-family: 'Poppins', sans-serif;
                font-size: 5.2em;
                font-weight: 400;
                color: #3B454D;
            }

            .header_description {
                font-family: 'Poppins', sans-serif;
                font-size: $l-txt;
                font-weight: 400;
                color: #3B454D;
            }
        }

        &-buttons {
            @include flex(row, wrap, start, center, $l-space);

            .button_tryItFree {
                font-size: $l-txt;
                font-weight: 500;
                padding: $m-space $l-space;
            }

            .button_getADemo {
                font-size: $l-txt;
                font-weight: 500;
                padding: $m-space $l-space;
            }
        }

        #space-line {
            width: 50%;
            height: 2px;
            background-color: rgba(0, 0, 0, 15%)
        }

        &-rating {
            @include flex(row, wrap, start, center, $l-space);

            .rating_stars {
                max-width: 12.8rem;
            }

            .rating_fact {
                max-width: 36rem;
                font-size: $l-txt;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;

                span {
                    font-weight: 600;
                }

            }
        }
    }
}